<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Kenvix.ClipboardSync.Preferences.MainPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Kenvix.ClipboardSync.Preferences.MainPreferences>
            <setting name="DeviceAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="MinGzipCompressSize" serializeAs="String">
                <value>256</value>
            </setting>
        </Kenvix.ClipboardSync.Preferences.MainPreferences>
    </userSettings>
</configuration>
